body {
    font-family: 'Montserrat', sans-serif;;
}

.primary-color {
    background-color: #18978F;
}

.secondary-color {
    background-color: #3CFDDA;
}

.height-32 {
    height: 32px;
}

.height-63 {
    height: 63px;
}

.height-83 {
    height: 83px;
}

.height-122 {
    height: 122px;
}

.font-size-12 {
    font-size: 12px;
}

.btn-primary-color {
    color: white;
    background-color: #18978F;
    border-color: #18978F;
    /* border-radius: .5em; */
}

.btn-primary-color:hover {
    color: white;
    background: #18978F;
    filter: brightness(0.9);
    border-color: #18978F;
    box-shadow: #18978F;
}